
{% include "navbar/nav.html" %}
{% block content %}
<style>
    #set{
  margin-top: 10%;
  margin-left: 30%;
}
.color{
  height: 78vh;
}
@media screen and (max-width:650px) {
#set{
  margin-top: 20%;
  margin-left: 0%;
  padding-left: 30%;
}
}
</style>
<section class="color bg-image" style="background-color:rgba(173, 219, 229,0.5);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
<h1 class="text-center mb-3">Poll Questions</h1>
{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="card-mb-3">
    <div class="card-body">
        <p class="lead">{{ question.question_text }}</p>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
        <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
    </div>
</div>
{% endfor %}
{% else %}
<p>No polls available</p>
{% endif %}
{% endblock %}
</div>
</div>
{% include 'navbar/fotter.html' %}
</section>


