{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
{% include 'navbar/nav.html' %}

     <div style="height: 78vh;">
      <h1 class="text-center text-primary">polling</h1>
      <div class="container-fluid col-11 ">
      <li class="content fs-4 text-success">This is a votting website to vote your favorite programming language
        ,skills and favorite job.You can also see your result in result page.
        Every person must should be vote
      </li>
      <div class="img d-flex justify-content-end">
        <img src="{% static 'images/vote3.png' %}" alt="check" height="300" width="300" >
      </div>
      <div class="wraper">
        <img src="{% static 'images/vote2.png' %}" alt="check" height="100" width="100" >
    
      <div class="wraper-inner">
      <a href="{%url 'polls:index' %}" class="btn btn-primary col-expand-lg col-2 fs-5 ">polls</a></div>
      </div>
      </div>
</div>
{% include 'navbar/fotter.html' %}
</body>
</html>